.sectionUserForm{
    width: 90%;
    margin: 0px auto;
}

.formCreate {
    width: 50%;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.2);
    padding: 50px;
    border: 1px solid #969696;
}

.divInput{
    width: 100%;
    margin-bottom: 15px;
}

.divCreate{
    width: 100%;
}

.inputCreate{
    width: 100%;
    border: 1px solid #969696;
    font-size: 17px;
    padding: 5px;
    outline: none;
}

.fileCreate{
    font-size: 17px;
}

.createButton{
    font-size: 20px;
    padding: 5px;
    background: #00E8CC;
    border: 1px solid #969696;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

.erroInput{
    color: #E30000;
}