.sectionSignIn{
    width: 90%;
    margin: 0px auto;
}

.formSingIn{
    width: 50%;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.2);
    padding: 50px;
    border: 1px solid #969696;
}

.divSingIn{
    width: 100%;
}

.signIn{
    font-size: 20px;
    padding: 5px;
    background: #00E8CC;
    border: 1px solid #969696;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

.errorLogin{
    color: #E30000;
}