*{
    margin: 0;
    padding: 0;
    
}

.header{
    width: 100%;
    height: 80px;
    background:#363636;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divHeader{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 60px;
    height: 60px;
    background: #00E8CC;
    border-radius: 100%;
    cursor: pointer;
}

.menu{
    height: 60px;
    display: flex;
    align-items: center;
    
}

.link{
    color: #ffffff;
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover{
    color: #00E8CC;
}